.buttonStyles{
    @media (max-width: 1024px){
        padding: 1.5rem !important;
    }
}

.styleMobile{
    @media (max-width: 1024px){
        margin: 1rem 0;
    }
}

.buttonAdd{
    background-color: #e99c2e;
}

:where(.css-dev-only-do-not-override-acm2ia).ant-btn-primary.buttonAdd:hover{
    color: #e99c2e;
    background-color: transparent;
    border-color: #e99c2e;
}

.buttonMore{
    background-color: #f1f5f9;
    color: #e99c2e;
}

.buttonMore:hover{
    background-color: #f1f5f9 !important;
    color: #e99c2e !important;
}