.showSearch {
    .searchInput {
        margin: 0 auto;    
        padding: 0px 150px;

        .ant-input-affix-wrapper {
            background-color: #333;
            color: white;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            border: none;

            .ant-input-clear-icon {
                color: white;
            }

            .ant-input-clear-icon-hidden {
                visibility: visible;
            }
        }
        input {
            padding: 0 15px !important;
            color: white;
            background-color: transparent;
            z-index: 1000;
        }
    }
}