@import "../../App.scss";

.banner {
  background-image: url("..//..//assets/img/imageDetail/table-banner-collection.jpg");
  position: relative;
  display: flex;
  align-items: center;
  height: 600px;
  margin-top: 80px;

  .collection {
    margin: 0 auto;
    z-index: 10;

    h2 {
      font-size: 30px;
      color: #fff;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      color: #fff;
      font-weight: 500;
      margin: 25px 0 10px;
    }
  }
}

.inforCollection {
  @media (max-width: 1280px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (max-width: 1024px) {
    display: block !important;

    .inforCollectionCol {
      max-width: 100%;
    }
  }
}

.banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 33.4%;
  opacity: 0.9;
  background: #3f3f46;
}

.banner::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 66.6%;
  opacity: 0.3;
  background: #3f3f46;
}

.buttonCollectionDetail:hover {
  background: $mainColor !important;
}
