.newsLettersStyle {
    .ant-descriptions-title {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .ant-descriptions-item-content {
        color: #a09e9c;
        font-size: 16px;
        font-weight: 500;
    } 

    .ant-descriptions-item-content:hover {
        color: #e99c2e;
        transform: translateX(10px);
        transition: .3s;
    }
}

.lastNewsLetter {
    .ant-descriptions-title {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .ant-descriptions-view {
        .lastNewsLetterInfor {
            .ant-descriptions-item-content {
                font-size: 14px;
                text-transform: initial;
                margin-bottom: 25px;
                color: #a09e9c;
                line-height: 1.8;
            }
        }

        .ant-input-affix-wrapper {
            background: #fff;
            padding: 10px 15px;
            outline: 0!important;
            box-shadow: 0 5px 15px #00000033;
            border: 0;
        }

        .ant-input-affix-wrapper:hover {
            box-shadow: 0 5px 15px #00000066;
        }
    }
}

@media (max-width: 768px){
    .newsLetters {
        .ant-col-6 {
            max-width: 100% !important;
        }
    }
}