.inforCarousel {
    animation: carousel 1s alternate;
    @media (max-width: 1024px){
        padding-top: 2rem;
    }
}

.price::before{
    content: "";
    width: 25px;
    height: 1px;
    background: #616060;
    margin-top: 10px;
    margin-right: 15px;
}

.styleMobile{
    width: 100%;
    Button {
        width: 170px;
        height: 60px;
    }
    @media (max-width: 540px){
        display: block;
        text-align: left;

        .buttonAdd {
            margin-bottom: 10px;
        }
    }
}

.buttonAdd:hover{
    color: #e99c2e !important;
    background: transparent !important;
    border-color: #e99c2e !important;
}

.buttonMore:hover{
    background-color: #f1f5f9 !important;
    color: #e99c2e !important;
}

@keyframes carousel {
    0% {
        transform: scale(0, 1);
    }
}


@media (max-width: 1280px){
    .inforCarousel {
        padding-left: 1rem;
  }
}

@media (max-width: 1024px){
    .inforCarousel h4{
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
    }
    .inforCarousel h1{
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
    }
}