.advertisementProducts:hover {
    .inforAdvertisementProducts {
        .titleInforAdvertisementProducts h3{
            color: #e99c2e;
        }
        .ant-space-item button{
            background: #64748b;
            .discoverMoreHover{
                color: white !important;
            }
        }
    }
}