.AdvertisementProducts {
    @media (max-width: 1024px){
        display: block;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
}

.AdvertisementProductsIpad {
    @media (max-width: 1024px){
        max-width: 100%;
        margin-bottom: 25px;
    }
}