.pageDetailProduct {
    height: 600px;

    .ant-collapse>.ant-collapse-item >.ant-collapse-header {
        padding: 0;
    }

    @media (max-width: 540px){
        height: 800px;
    }
}