.newArrivals {
    margin: -16px 0px !important;
    .backgroundImg {
        position: relative;
        min-height: 310px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        
        img {
            width: auto;
            height: auto;
            transition: .3s linear;
            vertical-align: middle;
            max-width: 100%;
        }

        .backgroundImgHover {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #6a77811a;
            transform: scale(0);
            transition: .3s linear;
        }

        .newArrivalCart {
            position: absolute;
            z-index: 0;
            left: 0;
            bottom: -14px;
            width: 100%;
            height: 35px;
            background: #33383c;
            color: white;
            transition: .3s linear;
            opacity: 0;
            visibility: hidden;
        }
    }
   
    .textSale {
        position: absolute;
        top: 10px;
        right: 0;
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #47d93c;
        color: white;
    }

    .textHover {
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @media (max-width: 1280px){
        padding-left: 0;
        padding-right: 0;
    }

    @media (max-width: 1024px){
        .textHoverChangeColor  {
            max-width: 50%;
            margin: 0 auto;
        }

        display: block;
    }

    @media (max-width: 768px){
        padding-left: 10px !important;
        padding-right: 10px !important; 
    }

    @media (max-width: 520px){
        .textHoverChangeColor  {
            max-width: 100%;
        }
    }
}

.backgroundImg:hover img {
    transform: scale(1.3);
    transition: all .3s ease-out .3s;
}

.backgroundImg:hover .backgroundImgHover {
    transform: scale(1);
    opacity: 0.3;
    transition: .3s linear;
}

.backgroundImg:hover .newArrivalCart {
    opacity: 1;
    visibility: visible;
    bottom: 0px;
}

.textHoverChangeColor:hover .textHover {
    color: #e99c2e;
}

.buttonNewProducts {
    background: #e99c2e;
    margin: 0 auto;
}

.buttonNewProducts:hover{
    background: white !important;
    color: #e99c2e !important;
    border-color: #e99c2e !important;
}