.headerStyle{
    height: 600px;
    text-align: center;
    background: #f1f5f9;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    @media (max-width: 1280px){
        height: 600px;
    }
    @media (max-width: 1024px){
        height: 500px;
    }
    @media (max-width: 540px){
        height: 750px;

        .slideDisplayMobile {
            display: block;
        }

        .inforCarousel h1 {
            font-size: 1.25rem !important;
        }
        .colInfor{
           max-width: 100% !important; 
           flex: 1 !important;
           padding: 0 50px !important;
        }

        .colPicture {
            margin-left: 50px;

            .slidePicture {
                margin-top: 2rem;

                img {
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
}

:where(.css-dev-only-do-not-override-acm2ia).ant-carousel .slick-dots {
    li {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: transparent;
        border-color: transparent;
        border-width: 1px;

        &.slick-active {
            // height: 24px;
            // top: -10px;
            width: 6px;
            button {
                // width: 24px;
                // height: 24px;
                border-radius: 50%;
                background-color: transparent;
                border-color: #e99c2e;
                border-width: 1px;
            }
        }
    }
}

:where(.css-dev-only-do-not-override-acm2ia).ant-carousel .slick-dots li button::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e99c2e;
    // left: 25%;
    // top: 25%;
}
