.advertisementProducts {
    .ant-card-body {
        display: flex;
    }
}

.advertisementProducts:hover {
     box-shadow: none;
}


@media (max-width: 638px){
    .bigAdverMobile {
        padding: 0 10px !important;
    }
}
