$mainColor: #e99c2e;
$secondColor: #f1f5f9;
$secondBoldColor: #616060;
$secondLightColor: #998d80;
$titleColor: #64748b;

.mainColor {
  color: $mainColor !important;
}
.mainColorBg {
  background: $mainColor !important;
}
.secondColor {
  color: $secondColor !important;
}
.secondColorBg {
  background: $secondColor !important;
}

.secondBoldColor {
  color: $secondBoldColor !important;
}

.secondBoldBg {
  background: $secondBoldColor !important;
}

.secondLightColor {
  color: $secondLightColor !important;
}

.titleColor {
  color: $titleColor !important;
}

.App {
  width: 100% !important;
}
