.mainColor {
  color: #e99c2e;
} 
.mainColorBg {
  background: #e99c2e !important;
} 
.secondColor {
  color: #f1f5f9;
}
.secondColorBg {
  background: #f1f5f9;
}

.App {
  width: 100% !important;
}

