.mainColor {
  color: #e99c2e;
} 
.mainColorBg {
  background: #e99c2e;
} 
.secondColor {
  color: #f1f5f9;
}
.secondColorBg {
  background: #f1f5f9;
}

.App {
  width: 100% !important;
}



.buttonBackTop {
  animation-direction: alternate;
  animation-duration: 1s;
}

.buttonBackTop.ant-float-btn-default .ant-float-btn-body {
  background-color: #e99c2e !important;
}

.buttonBackTop.ant-float-btn-default .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
  color: white ;
}